<main class="bg-slate-600 min-h-full">
  <nav
    *ngIf="!showNavbar"
    class="flex justify-between items-center px-6 h-[80px] max-w-[2500px] shadow-md"
  >
    <div
      class="text-violet-200 text-xl font-semibold"
      style="letter-spacing: 0.1rem"
    >
      Logo
    </div>

    <ul class="flex gap-8">
      <li>
        <a routerLink="" class="rounded-sm text-violet-200 text-lg">Home</a>
      </li>

      <li>
        <a routerLink="error" class="rounded-sm text-violet-200 text-lg">
          Error page
        </a>
      </li>

      <li>
        <a routerLink="excercises" class="rounded-sm text-violet-200 text-lg">
          Excercises
        </a>
      </li>
      <div class="w-[1px] h-6 my-auto bg-white mx-4"></div>
      <li>
        <a routerLink="login" class="rounded-sm text-violet-200 text-lg">
          Sign in
        </a>
      </li>
      <li>
        <a
          routerLink="register"
          class="rounded-sm bg-violet-900 p-2 text-white text-lg"
        >
          Sign up
        </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</main>
